openapi: 3.0.3
info:
    title: 'API estoqueintegrado.com'
    description: ''
    version: 1.0.0
servers:
    -
        url: 'https://api.estoqueintegrado.com.br'
paths:
    /v1/cart:
        post:
            summary: 'Criar item no carrinho'
            description: 'Cria um item no carrinho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 1
                                    user_id: 3
                                    empresa_id: 2
                                    produto_id: 2313
                                    cor_id: null
                                    tamanho_id: 645
                                    quantidade: 1
                                    valor_produto: 199.88
                                    subtotal: 199.88
                                properties:
                                    id: { type: integer, example: 1 }
                                    user_id: { type: integer, example: 3 }
                                    empresa_id: { type: integer, example: 2 }
                                    produto_id: { type: integer, example: 2313 }
                                    cor_id: { type: string, example: null }
                                    tamanho_id: { type: integer, example: 645 }
                                    quantidade: { type: integer, example: 1 }
                                    valor_produto: { type: number, example: 199.88 }
                                    subtotal: { type: number, example: 199.88 }
            tags:
                - Carrinho
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: maxime
                                produto_id:
                                    type: integer
                                    description: 'ID do produto'
                                    example: 9
                                quantidade:
                                    type: integer
                                    description: 'Quantidade de produtos'
                                    example: 4
                                cor_id:
                                    type: integer
                                    description: 'ID da cor'
                                    example: 18
                                tamanho_id:
                                    type: integer
                                    description: 'ID da tamanho'
                                    example: 9
                            required:
                                - api_token
                                - dominio
                                - produto_id
                                - quantidade
    /v1/cart/sum:
        post:
            summary: 'Aumentar quantidade item carrinho'
            description: 'Soma 1 ao valor da quantidade do item do carrinho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 1
                                    user_id: 3
                                    empresa_id: 2
                                    produto_id: 2313
                                    cor_id: null
                                    tamanho_id: 645
                                    quantidade: 1
                                    valor_produto: 199.88
                                    subtotal: 199.88
                                properties:
                                    id: { type: integer, example: 1 }
                                    user_id: { type: integer, example: 3 }
                                    empresa_id: { type: integer, example: 2 }
                                    produto_id: { type: integer, example: 2313 }
                                    cor_id: { type: string, example: null }
                                    tamanho_id: { type: integer, example: 645 }
                                    quantidade: { type: integer, example: 1 }
                                    valor_produto: { type: number, example: 199.88 }
                                    subtotal: { type: number, example: 199.88 }
            tags:
                - Carrinho
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: exercitationem
                                product_id:
                                    type: integer
                                    description: 'ID do produto'
                                    example: 7
                                cor_id:
                                    type: integer
                                    description: 'ID da cor'
                                    example: 1
                                tamanho_id:
                                    type: integer
                                    description: 'ID da tamanho'
                                    example: 18
                            required:
                                - api_token
                                - dominio
                                - product_id
    /v1/cart/reduce:
        post:
            summary: 'Diminuir quantidade item carrinho'
            description: 'reduz 1 do valor da quantidade do item do carrinho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 1
                                    user_id: 3
                                    empresa_id: 2
                                    produto_id: 2313
                                    cor_id: null
                                    tamanho_id: 645
                                    quantidade: 1
                                    valor_produto: 199.88
                                    subtotal: 199.88
                                properties:
                                    id: { type: integer, example: 1 }
                                    user_id: { type: integer, example: 3 }
                                    empresa_id: { type: integer, example: 2 }
                                    produto_id: { type: integer, example: 2313 }
                                    cor_id: { type: string, example: null }
                                    tamanho_id: { type: integer, example: 645 }
                                    quantidade: { type: integer, example: 1 }
                                    valor_produto: { type: number, example: 199.88 }
                                    subtotal: { type: number, example: 199.88 }
            tags:
                - Carrinho
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: nulla
                                product_id:
                                    type: integer
                                    description: 'ID do produto'
                                    example: 18
                                cor_id:
                                    type: integer
                                    description: 'ID da cor'
                                    example: 10
                                tamanho_id:
                                    type: integer
                                    description: 'ID da tamanho'
                                    example: 15
                            required:
                                - api_token
                                - dominio
                                - product_id
    '/v1/cart/{id}':
        delete:
            summary: 'Deletar item do carrinho'
            description: 'Deleta um item do carrinho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\":\"Produto deletado do carrinho!\",\n}"
            tags:
                - Carrinho
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: dolores
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID do carrinho'
                example: 10
                required: true
                schema:
                    type: integer
    /v1/categories:
        post:
            summary: 'Criar categoria'
            description: 'Cria uma categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-banho\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: aut
                                nome:
                                    type: string
                                    description: 'Nome da categoria'
                                    example: nemo
                                slug:
                                    type: string
                                    description: "Slug do produto.\n<br>Caracteres permitidos: número, texto, \"-\", \"_\" <br><i><small>Ex: casa-e-jardim | casa_e_jardim</small></i>"
                                    example: sed
                                descricao:
                                    type: string
                                    description: 'Descrição da categoria'
                                    example: molestiae
                                imagem:
                                    type: string
                                    format: binary
                                    description: 'Imagem da categoria'
                                miniatura:
                                    type: string
                                    format: binary
                                    description: 'Miniatura da imagem da categoria'
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</small></i>'
                                    example: true
                                slug_auto:
                                    type: boolean
                                    description: 'Criar slug automaticamente; <br><i><small>Sim = 1, Não = 0</small></i>'
                                    example: true
                            required:
                                - api_token
                                - dominio
                                - nome
                                - slug
    '/v1/categories/{id}':
        put:
            summary: 'Atualizar Categoria'
            description: 'Atualiza os dados da categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-beleza\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: voluptas
                                nome:
                                    type: string
                                    description: 'Nome da categoria'
                                    example: quo
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jean</i></small>'
                                    example: consequatur
                                descricao:
                                    type: string
                                    description: 'Descrição da categoria'
                                    example: suscipit
                                imagem:
                                    type: string
                                    format: binary
                                    description: 'Imagem da categoria'
                                miniatura:
                                    type: string
                                    format: binary
                                    description: 'Miniatura da imagem da categoria'
                                ativo:
                                    type: boolean
                                    description: 'Status da categoria <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - nome
        get:
            summary: 'Detalhes Categoria'
            description: 'Retorna os detalhes da categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-beleza\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: sapiente
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar Categoria'
            description: 'Deleta a categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Categoria deletada!\",\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: sint
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID da categoria'
                example: 6
                required: true
                schema:
                    type: integer
    /v1/colors:
        post:
            summary: 'Criar Cor'
            description: 'Cria uma cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"hex\": #000000,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: esse
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: sequi
                                hex:
                                    type: string
                                    description: 'Hexadecimal da cor Ex: #000000'
                                    example: vitae
                            required:
                                - api_token
                                - dominio
                                - nome
                                - hex
    '/v1/colors/{id}':
        put:
            summary: 'Atualizar Cor'
            description: 'Atualiza os dados da cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"hex\": #000000,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: eligendi
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: ut
                                hex:
                                    type: string
                                    description: 'Hexadecimal da cor Ex: #000000'
                                    example: dolores
                            required:
                                - api_token
                                - dominio
                                - nome
                                - hex
        get:
            summary: 'Detalhes Cor'
            description: 'Retorna os detalhes da Cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: placeat
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar Cor'
            description: 'Deleta uma cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Cor deletada!\",\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: praesentium
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: ''
                example: voluptatibus
                required: true
                schema:
                    type: string
    /v1/companies:
        post:
            summary: 'Criar empresa.'
            description: 'Cria uma nova empresa.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: velit
                                user_id:
                                    type: integer
                                    description: 'ID do usuario proprietario da empresa'
                                    example: 19
                                nome:
                                    type: string
                                    description: 'Nome fantasia da empresa'
                                    example: facilis
                                website:
                                    type: string
                                    description: 'URL customizada da empresa Ex: minhaloja.estoqueintegrado.com|minhaloja.com.br'
                                    example: ut
                                razao_social:
                                    type: string
                                    description: 'Razão social da empresa'
                                    example: harum
                                cnpj:
                                    type: string
                                    description: 'CNPJ da empresa com ou sem formatação'
                                    example: cumque
                                telefone:
                                    type: string
                                    description: 'Telefone da empresa'
                                    example: deserunt
                                celular:
                                    type: string
                                    description: 'Celular da empresa'
                                    example: aut
                                email:
                                    type: string
                                    description: 'Email da empresa'
                                    example: quis
                                logo:
                                    type: string
                                    description: 'Path do caminho da logo salva'
                                    example: illo
                                icone:
                                    type: string
                                    description: 'Path do ícone da empresa'
                                    example: rem
                                matriz:
                                    type: boolean
                                    description: 'Se essa empresa é matriz(1) ou filial (0)'
                                    example: false
                                modo_catalogo:
                                    type: boolean
                                    description: 'Exibir banners na loja. 1 = sim, 0 = não. Default 0'
                                    example: true
                            required:
                                - api_token
                                - dominio
                                - user_id
                                - nome
                                - cnpj
    /v1/my-companies:
        get:
            summary: 'Lista de empresas do usuario.'
            description: 'Retorna a lista de empresas que o usuário está associado.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "[{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n},\n{\n     \"id\":2,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}]"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                id:
                                    type: integer
                                    description: 'ID do usuario'
                                    example: 16
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: est
                            required:
                                - api_token
                                - id
                                - dominio
    '/v1/companies/{id}':
        put:
            summary: 'Atualizar empresa.'
            description: "Atualiza dados da empresa.\nUsa softDeletes()"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: nobis
                            required:
                                - api_token
                                - dominio
        get:
            summary: 'Detalhes empresa.'
            description: 'Retorna os detalhes da empresa.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: nulla
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar empresa.'
            description: "Deleta a empresa.\nUsa softDeletes()"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Company deletada!'
                                properties:
                                    message: { type: string, example: 'Company deletada!' }
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: officiis
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID do usuario proprietario da empresa'
                example: 2
                required: true
                schema:
                    type: integer
    /v1/address:
        post:
            summary: 'Criar Endereço'
            description: 'Cria uma Endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: quis
                                empresa_id:
                                    type: integer
                                    description: 'ID da empresa'
                                    example: 7
                                user_id:
                                    type: integer
                                    description: 'ID do usuário'
                                    example: 18
                                rua:
                                    type: string
                                    description: 'Nome da rua'
                                    example: autem
                                numero:
                                    type: integer
                                    description: 'Numero do endereço'
                                    example: 20
                                bairro:
                                    type: string
                                    description: 'Nome do bairro'
                                    example: iste
                                complemento:
                                    type: string
                                    description: Complemento
                                    example: est
                                cidade:
                                    type: string
                                    description: 'Nome da cidade'
                                    example: non
                                uf:
                                    type: string
                                    description: 'Sigla do estado <small>Ex: MG</small>'
                                    example: maxime
                                pais:
                                    type: string
                                    description: País
                                    example: harum
                                cep:
                                    type: string
                                    description: 'Cep da rua'
                                    example: est
                                padrao:
                                    type: boolean
                                    description: 'Se o endereço é o padrão'
                                    example: false
                                ativo:
                                    type: boolean
                                    description: 'Se o endereço está ativo ou não. <small>Default: 1</small>'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - empresa_id
                                - user_id
                                - rua
                                - numero
    '/v1/address/{id}':
        put:
            summary: 'Atualizar Endereço'
            description: 'Atualiza os dados do endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: est
                                rua:
                                    type: string
                                    description: 'Nome da rua'
                                    example: occaecati
                                numero:
                                    type: integer
                                    description: 'Numero do endereço'
                                    example: 14
                                bairro:
                                    type: string
                                    description: 'Nome do bairro'
                                    example: magni
                                complemento:
                                    type: string
                                    description: Complemento
                                    example: et
                                cidade:
                                    type: string
                                    description: 'Nome da cidade'
                                    example: earum
                                uf:
                                    type: string
                                    description: 'Sigla do estado <small>Ex: MG</small>'
                                    example: ut
                                pais:
                                    type: string
                                    description: País
                                    example: velit
                                cep:
                                    type: string
                                    description: 'Cep da rua'
                                    example: vero
                                padrao:
                                    type: boolean
                                    description: 'Se o endereço é o padrão'
                                    example: true
                                ativo:
                                    type: boolean
                                    description: 'Se o endereço está ativo ou não. <small>Default: 1</small> * @param Request $request'
                                    example: true
                            required:
                                - api_token
                                - dominio
                                - rua
                                - numero
        get:
            summary: 'Detalhes Endereço'
            description: 'Retorna os detalhes do endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: doloremque
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar Endereço'
            description: 'Deleta o endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Endereço deletado!\",\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: voluptatem
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID da endereço'
                example: 8
                required: true
                schema:
                    type: integer
    /v1/users:
        get:
            summary: Read
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                400:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'É necessário informar o domínio!'
                                properties:
                                    message: { type: string, example: 'É necessário informar o domínio!' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        post:
            summary: 'Criar usuário'
            description: 'Cria um usuário.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\":1,\n     \"name\": \"Nome usuario\",\n     \"email\": \"teste@estoqueintegrado.com\"\n     [...]\n}"
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: qui
                                name:
                                    type: string
                                    description: 'Nome do usuário'
                                    example: deserunt
                                cpf:
                                    type: string
                                    description: 'Cpf com ou sem formatação Ex: 111.111.111-11'
                                    example: non
                                email:
                                    type: string
                                    description: 'Email do usuário Ex: teste@estoqueintegrado.com'
                                    example: debitis
                                password:
                                    type: string
                                    description: 'Senha do usuário'
                                    example: aspernatur
                                celular:
                                    type: string
                                    description: 'Celular do usuário'
                                    example: incidunt
                            required:
                                - api_token
                                - dominio
                                - name
                                - cpf
                                - email
    /migrar-estoque:
        get:
            summary: 'Routers do Tamanhos'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                400:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'É necessário informar o domínio!'
                                properties:
                                    message: { type: string, example: 'É necessário informar o domínio!' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
    /v1/products:
        post:
            summary: 'Criar produto'
            description: 'Cria um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome produto\",\n     \"slug\": \"slug-do-produto\",\n     \"estoque\": [\n         \"id\":1,\n         \"sku\":\"sku-produto\",\n         \"quantidade\":10,\n         \"tamanho_id\":15,\n         \"cor_id\":11,\n     ]\n     [...]\n}"
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: aut
                                estoque:
                                    type: array
                                    description: "Array de estoque <br><i><small>\n[{ <br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\", <small>// obrigatório, exceto para atualizar</small><br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"quantidade\":5, <small>// obrigatório</small><br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_venda\":1899.90, <small>// obrigatório</small><br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_custo\":1899.90<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_promocional\":1899.90<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_inicio_promocao\": \"25/10/2021 15:00:00\"<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_fim_promocao\": \"26/10/2021 15:00:00\"<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"cor_id\":356<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"tamanho_id\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"peso\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"largura\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"altura\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"comprimento\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"diametro\":199<br>\n},<br>\n{<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\",<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;[...] <br>\n}]\n</small></i>"
                                    example: rem
                                categoria_id:
                                    type: integer
                                    description: 'ID da categoria cadastrada e ativa do produto'
                                    example: 4
                                nome:
                                    type: string
                                    description: 'Nome do produto'
                                    example: totam
                                imagens:
                                    type: array
                                    description: 'Array de fotos do produto. <i><small>Maximo: 5 fotos</i></small>'
                                    example: ut
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jeans</i></small>'
                                    example: laborum
                                descricao_curta:
                                    type: string
                                    description: 'Descrição simples do produto'
                                    example: consectetur
                                descricao_completa:
                                    type: string
                                    description: 'Descrição detalhada do produto'
                                    example: rerum
                                titulo_seo:
                                    type: string
                                    description: 'Titiulo SEO do produto'
                                    example: sit
                                tags_seo:
                                    type: string
                                    description: 'Tags SEO do produto'
                                    example: sed
                                descricao_seo:
                                    type: string
                                    description: 'Descrição SEO do produto'
                                    example: nihil
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: false
                                destaque:
                                    type: boolean
                                    description: 'Se o produto é destaque. <i><small>Default 0</i></small>'
                                    example: false
                                variacao_preco_cor:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com a cor. Default 0'
                                    example: false
                                variacao_preco_tamanho:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com o tamanho. Default 0'
                                    example: true
                            required:
                                - api_token
                                - dominio
                                - categoria_id
                                - nome
                                - slug
    '/v1/products/{id}':
        put:
            summary: 'Atualizar produto'
            description: 'Atualiza os dados de um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome produto\",\n     \"slug\": \"slug-do-produto\",\n     \"estoque\": [\n         \"id\":1,\n         \"sku\":\"sku-produto\",\n         \"quantidade\":10,\n         \"tamanho_id\":15,\n         \"cor_id\":11,\n     ]\n     [...]\n}"
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: in
                                estoque:
                                    type: array
                                    description: "Array de estoque <br><i><small>\n[{ <br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\", <small>// obrigatório, exceto para atualizar</small><br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"quantidade\":5, <small>// obrigatório</small><br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_venda\":1899.90, <small>// obrigatório</small><br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_custo\":1899.90<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_promocional\":1899.90<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_inicio_promocao\": \"25/10/2021 15:00:00\"<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_fim_promocao\": \"26/10/2021 15:00:00\"<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"cor_id\":356<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"tamanho_id\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"peso\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"largura\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"altura\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"comprimento\":199<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"diametro\":199<br>\n},<br>\n{<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"id\":11,<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\",<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;[...] <br>\n}]\n</small></i>"
                                    example: qui
                                categoria_id:
                                    type: integer
                                    description: 'ID da categoria cadastrada e ativa do produto'
                                    example: 12
                                nome:
                                    type: string
                                    description: 'Nome do produto'
                                    example: repudiandae
                                imagens:
                                    type: array
                                    description: 'Array de fotos do produto. <i><small>Maximo: 5 fotos</i></small>'
                                    example: tenetur
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jeans</i></small>'
                                    example: iste
                                descricao_curta:
                                    type: string
                                    description: 'Descrição simples do produto'
                                    example: illo
                                descricao_completa:
                                    type: string
                                    description: 'Descrição detalhada do produto'
                                    example: vitae
                                titulo_seo:
                                    type: string
                                    description: 'Titiulo SEO do produto'
                                    example: repellat
                                tags_seo:
                                    type: string
                                    description: 'Tags SEO do produto'
                                    example: ipsum
                                descricao_seo:
                                    type: string
                                    description: 'Descrição SEO do produto'
                                    example: eveniet
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: true
                                destaque:
                                    type: boolean
                                    description: 'Se o produto é destaque. <i><small>Default 0</i></small>'
                                    example: true
                                variacao_preco_cor:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com a cor. Default 0'
                                    example: true
                                variacao_preco_tamanho:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com o tamanho. Default 0'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - categoria_id
                                - nome
                                - slug
        delete:
            summary: 'Deletar Produto'
            description: 'Deleta um produto com softDeletes'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: vitae
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: ''
                example: similique
                required: true
                schema:
                    type: string
    '/v1/products/{idOrSlug}':
        get:
            summary: 'Detalhes do produto'
            description: 'Retorna os detalhes de um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                404:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Empresa não encontrada!'
                                properties:
                                    message: { type: string, example: 'Empresa não encontrada!' }
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: consequatur
                            required:
                                - dominio
            security: []
        parameters:
            -
                in: path
                name: idOrSlug
                description: 'Optional parameter. integer|string required ID ou slug do produto'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: vero
    /:
        get:
            summary: 'Index da loja'
            description: "<aside>Retorna a loja de acordo com o domínio ou subdominio. <br>\nRetorna dados, produtos, carrinho (se houver usuario logado) <br>\nEx: minhaempresa.estoqueintegrado.com.br\n</aside>"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\":\"Nome da empresa\",\n     \"email\":\"email@estoqueintegrado.com\",\n     [...]\n     \"products\": [\n         {\n             \"id\": 1,\n             \"nome\":\"Product 1\",\n             \"sku\":\"CAMISAM_2021\",\n             [...]\n         },\n         {\n             \"id\": 2,\n             \"nome\":\"Product 2\",\n             \"sku\":\"BLUSAP321\",\n         }\n     ],\n     \"cart\": [\n         {\n             \"id\": 1,\n             \"produto_id\":12,\n             \"empresa_id\":99,\n             \"quantidade\":2,\n             [...]\n         },\n         [...]\n     ]\n}"
            tags:
                - Site
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da loja registrado no banco de dados. <br>\n<i><small>Ex: minhaloja.estoqueintegrado.com.br | minhaloja.com.br | minhaloja</small>"
                                    example: dolorum
                            required:
                                - dominio
            security: []
    '/v1/product/{idOrSlug}':
        get:
            summary: 'Detalhes do produto'
            description: 'Retorna um array com 1 único produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{[\n     \"id\":1,\n     \"nome\":\"Nome do produto\",\n     \"slug\":\"slug\",\n     [...]\n]}"
            tags:
                - Site
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: quos
                            required:
                                - dominio
            security: []
        parameters:
            -
                in: path
                name: idOrSlug
                description: 'Optional parameter. integer|string required ID ou slug do produto'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: quos
    /v1/checkout:
        post:
            summary: 'Cadastrar pedido'
            description: 'Salvar um novo pedido'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\":1,\n     \"user_id\":1,\n     \"numero\": 100256,\n     \"valor\": 1849.90\n     [...]\n}"
            tags:
                - Site
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: illum
                                valor_frete:
                                    type: number
                                    description: 'Valor do frete'
                                    example: 0.5064
                                tipo_entrega:
                                    type: string
                                    description: 'Tipo de entrega: retirada|entrega'
                                    example: assumenda
                                prazo_entrega:
                                    type: string
                                    description: 'Prazo de entrega'
                                    example: eum
                                endereco_entrega_id:
                                    type: integer
                                    description: 'ID do endereço de entrega. Required se for entregar'
                                    example: 15
                                desconto_codigo:
                                    type: string
                                    description: 'Codigo do cupom de desconto'
                                    example: qui
                                desconto_valor:
                                    type: number
                                    description: 'Valor do desconto'
                                    example: 2.5177749
                                desconto_percentual:
                                    type: boolean
                                    description: "Se o desconto aplicado é em percentual(%) ou valor(R$)\n<br><i><small>1 = desconto aplicado em percentual (%) | 2 = desconto aplicado em valor (R$)</i></small>"
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - valor_frete
                                - tipo_entrega
                                - prazo_entrega
                                - endereco_entrega_id
    /v1/sizes:
        post:
            summary: 'Criar Tamanho'
            description: 'Cria um tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: enim
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: rerum
                            required:
                                - api_token
                                - dominio
                                - nome
    '/v1/sizes/{id}':
        put:
            summary: 'Atualizar Tamanho'
            description: 'Atualiza os dados do tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: repudiandae
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: iste
                            required:
                                - api_token
                                - dominio
                                - nome
        get:
            summary: 'Detalhes Tamanho'
            description: 'Retorna os detalhes do Tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
[...]
