openapi: 3.0.3
info:
    title: 'API estoqueintegrado.com'
    description: ''
    version: 1.0.0
servers:
    -
        url: 'https://api.estoqueintegrado.com.br'
paths:
    /v1/categories:
        post:
            summary: 'Criar categoria'
            description: 'Cria uma categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-banho\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: sed
                                nome:
                                    type: string
                                    description: 'Nome da categoria'
                                    example: occaecati
                                slug:
                                    type: string
                                    description: "Slug do produto.\n<br>Caracteres permitidos: número, texto, \"-\", \"_\" <br><i><small>Ex: casa-e-jardim | casa_e_jardim</small></i>"
                                    example: et
                                descricao:
                                    type: string
                                    description: 'Descrição da categoria'
                                    example: adipisci
                                imagem:
                                    type: string
                                    format: binary
                                    description: 'Imagem da categoria'
                                miniatura:
                                    type: string
                                    format: binary
                                    description: 'Miniatura da imagem da categoria'
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</small></i>'
                                    example: true
                                slug_auto:
                                    type: boolean
                                    description: 'Criar slug automaticamente; <br><i><small>Sim = 1, Não = 0</small></i>'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - nome
                                - slug
    '/v1/categories/{id}':
        put:
            summary: 'Atualizar Categoria'
            description: 'Atualiza os dados da categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-beleza\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: soluta
                                nome:
                                    type: string
                                    description: 'Nome da categoria'
                                    example: aut
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jean</i></small>'
                                    example: et
                                descricao:
                                    type: string
                                    description: 'Descrição da categoria'
                                    example: mollitia
                                imagem:
                                    type: string
                                    format: binary
                                    description: 'Imagem da categoria'
                                miniatura:
                                    type: string
                                    format: binary
                                    description: 'Miniatura da imagem da categoria'
                                ativo:
                                    type: boolean
                                    description: 'Status da categoria <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - nome
        get:
            summary: 'Detalhes Categoria'
            description: 'Retorna os detalhes da categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-beleza\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: iste
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar Categoria'
            description: 'Deleta a categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Categoria deletada!\",\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: autem
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID da categoria'
                example: 14
                required: true
                schema:
                    type: integer
    /v1/colors:
        post:
            summary: 'Criar Cor'
            description: 'Cria uma cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"hex\": #000000,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: ut
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: neque
                                hex:
                                    type: string
                                    description: 'Hexadecimal da cor Ex: #000000'
                                    example: minus
                            required:
                                - api_token
                                - dominio
                                - nome
                                - hex
    '/v1/colors/{id}':
        put:
            summary: 'Atualizar Cor'
            description: 'Atualiza os dados da cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"hex\": #000000,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: aut
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: sed
                                hex:
                                    type: string
                                    description: 'Hexadecimal da cor Ex: #000000'
                                    example: consectetur
                            required:
                                - api_token
                                - dominio
                                - nome
                                - hex
        get:
            summary: 'Detalhes Cor'
            description: 'Retorna os detalhes da Cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: non
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar Cor'
            description: 'Deleta uma cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Cor deletada!\",\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: fugit
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: ''
                example: vel
                required: true
                schema:
                    type: string
    /v1/companies:
        post:
            summary: 'Criar empresa.'
            description: 'Cria uma nova empresa.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: reiciendis
                                user_id:
                                    type: integer
                                    description: 'ID do usuario proprietario da empresa'
                                    example: 16
                                nome:
                                    type: string
                                    description: 'Nome fantasia da empresa'
                                    example: aperiam
                                website:
                                    type: string
                                    description: 'URL customizada da empresa Ex: minhaloja.estoqueintegrado.com|minhaloja.com.br'
                                    example: iste
                                razao_social:
                                    type: string
                                    description: 'Razão social da empresa'
                                    example: quos
                                cnpj:
                                    type: string
                                    description: 'CNPJ da empresa com ou sem formatação'
                                    example: dolorum
                                telefone:
                                    type: string
                                    description: 'Telefone da empresa'
                                    example: asperiores
                                celular:
                                    type: string
                                    description: 'Celular da empresa'
                                    example: repellat
                                email:
                                    type: string
                                    description: 'Email da empresa'
                                    example: distinctio
                                logo:
                                    type: string
                                    description: 'Path do caminho da logo salva'
                                    example: reprehenderit
                                icone:
                                    type: string
                                    description: 'Path do ícone da empresa'
                                    example: aliquid
                                matriz:
                                    type: boolean
                                    description: 'Se essa empresa é matriz(1) ou filial (0)'
                                    example: false
                                modo_catalogo:
                                    type: boolean
                                    description: 'Exibir banners na loja. 1 = sim, 0 = não. Default 0'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - user_id
                                - nome
                                - cnpj
    /v1/my-companies:
        get:
            summary: 'Lista de empresas do usuario.'
            description: 'Retorna a lista de empresas que o usuário está associado.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "[{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n},\n{\n     \"id\":2,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}]"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                id:
                                    type: integer
                                    description: 'ID do usuario'
                                    example: 12
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: voluptatem
                            required:
                                - api_token
                                - id
                                - dominio
    '/v1/companies/{id}':
        put:
            summary: 'Atualizar empresa.'
            description: "Atualiza dados da empresa.\nUsa softDeletes()"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: odit
                            required:
                                - api_token
                                - dominio
        get:
            summary: 'Detalhes empresa.'
            description: 'Retorna os detalhes da empresa.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: nobis
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar empresa.'
            description: "Deleta a empresa.\nUsa softDeletes()"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Company deletada!'
                                properties:
                                    message: { type: string, example: 'Company deletada!' }
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: alias
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID do usuario proprietario da empresa'
                example: 20
                required: true
                schema:
                    type: integer
    /v1/address:
        post:
            summary: 'Criar Endereço'
            description: 'Cria uma Endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: harum
                                empresa_id:
                                    type: integer
                                    description: 'ID da empresa'
                                    example: 12
                                user_id:
                                    type: integer
                                    description: 'ID do usuário'
                                    example: 8
                                rua:
                                    type: string
                                    description: 'Nome da rua'
                                    example: facilis
                                numero:
                                    type: integer
                                    description: 'Numero do endereço'
                                    example: 14
                                bairro:
                                    type: string
                                    description: 'Nome do bairro'
                                    example: cupiditate
                                complemento:
                                    type: string
                                    description: Complemento
                                    example: veniam
                                cidade:
                                    type: string
                                    description: 'Nome da cidade'
                                    example: ipsam
                                uf:
                                    type: string
                                    description: 'Sigla do estado <small>Ex: MG</small>'
                                    example: incidunt
                                pais:
                                    type: string
                                    description: País
                                    example: maiores
                                cep:
                                    type: string
                                    description: 'Cep da rua'
                                    example: aut
                                padrao:
                                    type: boolean
                                    description: 'Se o endereço é o padrão'
                                    example: false
                                ativo:
                                    type: boolean
                                    description: 'Se o endereço está ativo ou não. <small>Default: 1</small>'
                                    example: true
                            required:
                                - api_token
                                - dominio
                                - empresa_id
                                - user_id
                                - rua
                                - numero
    '/v1/address/{id}':
        put:
            summary: 'Atualizar Endereço'
            description: 'Atualiza os dados do endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: nemo
                                rua:
                                    type: string
                                    description: 'Nome da rua'
                                    example: ea
                                numero:
                                    type: integer
                                    description: 'Numero do endereço'
                                    example: 8
                                bairro:
                                    type: string
                                    description: 'Nome do bairro'
                                    example: quos
                                complemento:
                                    type: string
                                    description: Complemento
                                    example: earum
                                cidade:
                                    type: string
                                    description: 'Nome da cidade'
                                    example: ab
                                uf:
                                    type: string
                                    description: 'Sigla do estado <small>Ex: MG</small>'
                                    example: nihil
                                pais:
                                    type: string
                                    description: País
                                    example: est
                                cep:
                                    type: string
                                    description: 'Cep da rua'
                                    example: aspernatur
                                padrao:
                                    type: boolean
                                    description: 'Se o endereço é o padrão'
                                    example: false
                                ativo:
                                    type: boolean
                                    description: 'Se o endereço está ativo ou não. <small>Default: 1</small> * @param Request $request'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - rua
                                - numero
        get:
            summary: 'Detalhes Endereço'
            description: 'Retorna os detalhes do endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: dignissimos
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar Endereço'
            description: 'Deleta o endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Endereço deletado!\",\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: commodi
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID da endereço'
                example: 6
                required: true
                schema:
                    type: integer
    /v1/users:
        get:
            summary: Read
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                400:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'É necessário informar o domínio!'
                                properties:
                                    message: { type: string, example: 'É necessário informar o domínio!' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        post:
            summary: 'Criar usuário'
            description: 'Cria um usuário.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\":1,\n     \"name\": \"Nome usuario\",\n     \"email\": \"teste@estoqueintegrado.com\"\n     [...]\n}"
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: assumenda
                                name:
                                    type: string
                                    description: 'Nome do usuário'
                                    example: ipsa
                                cpf:
                                    type: string
                                    description: 'Cpf com ou sem formatação Ex: 111.111.111-11'
                                    example: neque
                                email:
                                    type: string
                                    description: 'Email do usuário Ex: teste@estoqueintegrado.com'
                                    example: voluptatibus
                                password:
                                    type: string
                                    description: 'Senha do usuário'
                                    example: vel
                                celular:
                                    type: string
                                    description: 'Celular do usuário'
                                    example: sed
                            required:
                                - api_token
                                - dominio
                                - name
                                - cpf
                                - email
    /migrar-estoque:
        get:
            summary: 'Routers do Tamanhos'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                400:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'É necessário informar o domínio!'
                                properties:
                                    message: { type: string, example: 'É necessário informar o domínio!' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
    /v1/products:
        post:
            summary: 'Criar produto'
            description: 'Cria um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome produto\",\n     \"preco_venda\": \"\",\n     \"preco_promocional\": \"\"\n     [...]\n}"
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: ratione
                                estoque:
                                    type: array
                                    description: "Array de estoque <br><i><small>\n[{ <br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\",<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"quantidade\":5,<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_venda\":1899.90<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_inicio_promocao\": \"25/10/2021 15:00:00\"<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_fim_promocao\": \"25/10/2021 15:00:00\"<br>\n},<br>\n{<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\",<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;[...] <br>\n}]\n</small></i>"
                                    example: quidem
                                categoria_id:
                                    type: integer
                                    description: 'ID da categoria cadastrada e ativa do produto'
                                    example: 5
                                nome:
                                    type: string
                                    description: 'Nome do produto'
                                    example: dolorem
                                imagens:
                                    type: array
                                    description: 'Array de fotos do produto. <i><small>Maximo: 5 fotos</i></small>'
                                    example: nesciunt
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jeans</i></small>'
                                    example: quia
                                descricao_curta:
                                    type: string
                                    description: 'Descrição simples do produto'
                                    example: voluptatibus
                                descricao_completa:
                                    type: string
                                    description: 'Descrição detalhada do produto'
                                    example: sed
                                titulo_seo:
                                    type: string
                                    description: 'Titiulo SEO do produto'
                                    example: ad
                                tags_seo:
                                    type: string
                                    description: 'Tags SEO do produto'
                                    example: similique
                                descricao_seo:
                                    type: string
                                    description: 'Descrição SEO do produto'
                                    example: eos
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: true
                                destaque:
                                    type: boolean
                                    description: 'Se o produto é destaque. <i><small>Default 0</i></small>'
                                    example: true
                                variacao_preco_cor:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com a cor. Default 0'
                                    example: true
                                variacao_preco_tamanho:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com o tamanho. Default 0'
                                    example: true
                            required:
                                - api_token
                                - dominio
                                - categoria_id
                                - nome
                                - slug
    '/v1/products/{id}':
        put:
            summary: 'Atualizar produto'
            description: 'Atualiza os dados de um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome produto\",\n     \"preco_venda\": \"\",\n     \"preco_promocional\": \"\"\n     [...]\n}"
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: similique
                                estoque:
                                    type: array
                                    description: "Array de estoque <br><i><small>\n[{ <br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"id\":11,<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\",<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"quantidade\":5,<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"valor_venda\":1899.90<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_inicio_promocao\": \"25/10/2021 15:00:00\"<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"dt_fim_promocao\": \"25/10/2021 15:00:00\"<br>\n},<br>\n{<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"id\":11,<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;\"sku\":\"sku-produto\",<br>\n     &nbsp;&nbsp;&nbsp;&nbsp;[...] <br>\n}]\n</small></i>"
                                    example: vel
                                categoria_id:
                                    type: integer
                                    description: 'ID da categoria cadastrada e ativa do produto'
                                    example: 18
                                nome:
                                    type: string
                                    description: 'Nome do produto'
                                    example: tempora
                                imagens:
                                    type: array
                                    description: 'Array de fotos do produto. <i><small>Maximo: 5 fotos</i></small>'
                                    example: sint
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jeans</i></small>'
                                    example: illum
                                descricao_curta:
                                    type: string
                                    description: 'Descrição simples do produto'
                                    example: doloribus
                                descricao_completa:
                                    type: string
                                    description: 'Descrição detalhada do produto'
                                    example: veniam
                                titulo_seo:
                                    type: string
                                    description: 'Titiulo SEO do produto'
                                    example: porro
                                tags_seo:
                                    type: string
                                    description: 'Tags SEO do produto'
                                    example: sint
                                descricao_seo:
                                    type: string
                                    description: 'Descrição SEO do produto'
                                    example: deleniti
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: false
                                destaque:
                                    type: boolean
                                    description: 'Se o produto é destaque. <i><small>Default 0</i></small>'
                                    example: true
                                variacao_preco_cor:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com a cor. Default 0'
                                    example: false
                                variacao_preco_tamanho:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com o tamanho. Default 0'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - categoria_id
                                - nome
                                - slug
        delete:
            summary: 'Deletar Produto'
            description: 'Deleta um produto com softDeletes'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: quam
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: ''
                example: fugiat
                required: true
                schema:
                    type: string
    '/v1/products/{idOrSlug}':
        get:
            summary: 'Detalhes do produto'
            description: 'Retorna os detalhes de um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                404:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Empresa não encontrada!'
                                properties:
                                    message: { type: string, example: 'Empresa não encontrada!' }
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: porro
                            required:
                                - dominio
            security: []
        parameters:
            -
                in: path
                name: idOrSlug
                description: 'Optional parameter. integer|string required ID ou slug do produto'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: aspernatur
    /:
        get:
            summary: 'Index da loja'
            description: "<aside>Retorna a loja de acordo com o domínio ou subdominio. <br>\nRetorna dados, produtos, carrinho (se houver usuario logado) <br>\nEx: minhaempresa.estoqueintegrado.com.br\n</aside>"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\":\"Nome da empresa\",\n     \"email\":\"email@estoqueintegrado.com\",\n     [...]\n     \"products\": [\n         {\n             \"id\": 1,\n             \"nome\":\"Product 1\",\n             \"sku\":\"CAMISAM_2021\",\n             [...]\n         },\n         {\n             \"id\": 2,\n             \"nome\":\"Product 2\",\n             \"sku\":\"BLUSAP321\",\n         }\n     ],\n     \"cart\": [\n         {\n             \"id\": 1,\n             \"produto_id\":12,\n             \"empresa_id\":99,\n             \"quantidade\":2,\n             [...]\n         },\n         [...]\n     ]\n}"
            tags:
                - Site
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da loja registrado no banco de dados. <br>\n<i><small>Ex: minhaloja.estoqueintegrado.com.br | minhaloja.com.br | minhaloja</small>"
                                    example: et
                            required:
                                - dominio
            security: []
    '/v1/product/{idOrSlug}':
        get:
            summary: 'Detalhes do produto'
            description: 'Retorna um array com 1 único produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{[\n     \"id\":1,\n     \"nome\":\"Nome do produto\",\n     \"slug\":\"slug\",\n     [...]\n]}"
            tags:
                - Site
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: vel
                            required:
                                - dominio
            security: []
        parameters:
            -
                in: path
                name: idOrSlug
                description: 'Optional parameter. integer|string required ID ou slug do produto'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: voluptas
    /v1/sizes:
        post:
            summary: 'Criar Tamanho'
            description: 'Cria um tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: et
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: nobis
                            required:
                                - api_token
                                - dominio
                                - nome
    '/v1/sizes/{id}':
        put:
            summary: 'Atualizar Tamanho'
            description: 'Atualiza os dados do tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: officia
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: sint
                            required:
                                - api_token
                                - dominio
                                - nome
        get:
            summary: 'Detalhes Tamanho'
            description: 'Retorna os detalhes do Tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: iusto
                            required:
                                - api_token
                                - dominio
        delete:
            summary: 'Deletar Tamanho'
            description: 'Deleta um tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Tamanho deletado!\",\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: est
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: 'ID do tamanho'
                example: 2
                required: true
                schema:
                    type: integer
    '/v1/users/{id}':
        put:
            summary: 'Atualizar usuario'
            description: 'Atualiza os dados de um usuário'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"name\": \"Ronierison Sena\"\n     \"email\": \"teste@teste.com\"\n     [...]\n}"
                404:
                    description: '404, user not found'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'usuário não encontrado.'
                                properties:
                                    message: { type: string, example: 'usuário não encontrado.' }
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        get:
            summary: 'Detalhes usuario.'
            description: 'Retorna os detalhes do Usuario.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n{\n     \"id\":1,\n     \"nome\":\"Nome do usuario\",\n     \"email\":\"usuario@estoqueintegrado.com\",\n     [...]"
                404:
                    description: '404, user not found'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'usuário não encontrado.'
                                properties:
                                    message: { type: string, example: 'usuário não encontrado.' }
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        delete:
            summary: 'Deletar usuario'
            description: 'Deletar um usuário'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"name\": \"Ronierison Sena\"\n     \"email\": \"teste@teste.com\"\n     [...]\n}"
                404:
                    description: '404, user not found'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'usuário não encontrado.'
                                properties:
                                    message: { type: string, example: 'usuário não encontrado.' }
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                id:
                                    type: integer
                                    description: 'ID do usuário'
                                    example: 13
                            required:
                                - api_token
                                - id
        parameters:
            -
                in: path
                name: id
                description: 'ID do usuário'
                example: 14
                required: true
                schema:
                    type: integer
    /v1/login:
        post:
            summary: Login
            description: "Faz o login do usuario\nSe email e senha coincidirem, gera um md5 da data concatenando com o ID do usuário\ne salva no campo api_token com o tempo definido no arquivo .env TIME_TO_RESET_TOKEN"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: string
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                login:
                                    type: string
                                    description: 'Email do usuário'
                                    example: cum
                                password:
                                    type: string
                                    description: 'Senha do usuário'
                                    example: ratione
                            required:
                                - api_token
                                - login
                                - password
components:
    securitySchemes:
        default: []
security:
    -
        default: []
