openapi: 3.0.3
info:
    title: 'API estoqueintegrado.com'
    description: ''
    version: 1.0.0
servers:
    -
        url: 'https://api.estoqueintegrado.com.br'
paths:
    /v1/categories:
        post:
            summary: 'Criar categoria'
            description: 'Cria uma categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-banho\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                empresa_id:
                                    type: integer
                                    description: 'ID da empresa proprietária do produto'
                                    example: 15
                                nome:
                                    type: string
                                    description: 'Nome da categoria'
                                    example: rerum
                                slug:
                                    type: string
                                    description: "Slug do produto.\n<br>Caracteres permitidos: número, texto, \"-\", \"_\" <br><i><small>Ex: casa-e-jardim | casa_e_jardim</small></i>"
                                    example: nihil
                                descricao:
                                    type: string
                                    description: 'Descrição da categoria'
                                    example: labore
                                imagem:
                                    type: string
                                    format: binary
                                    description: 'Imagem da categoria'
                                miniatura:
                                    type: string
                                    format: binary
                                    description: 'Miniatura da imagem da categoria'
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</small></i>'
                                    example: false
                                slug_auto:
                                    type: boolean
                                    description: 'Criar slug automaticamente; <br><i><small>Sim = 1, Não = 0</small></i>'
                                    example: false
                            required:
                                - api_token
                                - empresa_id
                                - nome
                                - slug
    '/v1/categories/{id}':
        put:
            summary: 'Atualizar Categoria'
            description: 'Atualiza os dados da categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: multipart/form-data
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-beleza\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                nome:
                                    type: string
                                    description: 'Nome da categoria'
                                    example: eos
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jean</i></small>'
                                    example: iste
                                descricao:
                                    type: string
                                    description: 'Descrição da categoria'
                                    example: laboriosam
                                imagem:
                                    type: string
                                    format: binary
                                    description: 'Imagem da categoria'
                                miniatura:
                                    type: string
                                    format: binary
                                    description: 'Miniatura da imagem da categoria'
                                ativo:
                                    type: boolean
                                    description: 'Status da categoria <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: false
                            required:
                                - api_token
                                - nome
        get:
            summary: 'Detalhes Categoria'
            description: 'Retorna os detalhes da categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome da categoria\",\n     \"slug\": \"produtos-beleza\",\n     \"imagem\": \"caminho/da/imagem\"\n     [...]\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        delete:
            summary: 'Deletar Categoria'
            description: 'Deleta a categoria'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Categoria deletada!\",\n}"
            tags:
                - Categorias
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        parameters:
            -
                in: path
                name: id
                description: 'ID da categoria'
                example: 2
                required: true
                schema:
                    type: integer
    /v1/colors:
        post:
            summary: 'Criar Cor'
            description: 'Cria uma cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"hex\": #000000,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                empresa_id:
                                    type: integer
                                    description: 'ID da empresa'
                                    example: 5
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: minus
                                hex:
                                    type: string
                                    description: 'Hexadecimal da cor Ex: #000000'
                                    example: consequatur
                            required:
                                - api_token
                                - empresa_id
                                - nome
                                - hex
    '/v1/colors/{id}':
        put:
            summary: 'Atualizar Cor'
            description: 'Atualiza os dados da cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"hex\": #000000,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                empresa_id:
                                    type: integer
                                    description: 'ID da empresa'
                                    example: 12
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: itaque
                                hex:
                                    type: string
                                    description: 'Hexadecimal da cor Ex: #000000'
                                    example: est
                            required:
                                - api_token
                                - empresa_id
                                - nome
                                - hex
        get:
            summary: 'Detalhes Cor'
            description: 'Retorna os detalhes da Cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Preto\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        delete:
            summary: 'Deletar Cor'
            description: 'Deleta uma cor'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Cor deletada!\",\n}"
            tags:
                - Cores
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        parameters:
            -
                in: path
                name: id
                description: ''
                example: dolores
                required: true
                schema:
                    type: string
    /v1/companies:
        post:
            summary: 'Criar empresa.'
            description: 'Cria uma nova empresa.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                user_id:
                                    type: integer
                                    description: 'ID do usuario proprietario da empresa'
                                    example: 20
                                nome:
                                    type: string
                                    description: 'Nome fantasia da empresa'
                                    example: eius
                                website:
                                    type: string
                                    description: 'URL customizada da empresa Ex: minhaloja.estoqueintegrado.com|minhaloja.com.br'
                                    example: minus
                                razao_social:
                                    type: string
                                    description: 'Razão social da empresa'
                                    example: recusandae
                                cnpj:
                                    type: string
                                    description: 'CNPJ da empresa com ou sem formatação'
                                    example: rerum
                                telefone:
                                    type: string
                                    description: 'Telefone da empresa'
                                    example: itaque
                                celular:
                                    type: string
                                    description: 'Celular da empresa'
                                    example: exercitationem
                                email:
                                    type: string
                                    description: 'Email da empresa'
                                    example: dolor
                                logo:
                                    type: string
                                    description: 'Path do caminho da logo salva'
                                    example: quo
                                icone:
                                    type: string
                                    description: 'Path do ícone da empresa'
                                    example: molestias
                                matriz:
                                    type: boolean
                                    description: 'Se essa empresa é matriz(1) ou filial (0)'
                                    example: true
                                modo_catalogo:
                                    type: boolean
                                    description: 'Exibir banners na loja. 1 = sim, 0 = não. Default 0'
                                    example: false
                            required:
                                - api_token
                                - user_id
                                - nome
                                - cnpj
    /v1/my-companies:
        get:
            summary: 'Lista de empresas do usuario.'
            description: 'Retorna a lista de empresas que o usuário está associado.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "[{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n},\n{\n     \"id\":2,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}]"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                id:
                                    type: integer
                                    description: 'ID do usuario'
                                    example: 18
                            required:
                                - api_token
                                - id
    '/v1/companies/{id}':
        put:
            summary: 'Atualizar empresa.'
            description: "Atualiza dados da empresa.\nUsa softDeletes()"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        get:
            summary: 'Detalhes empresa.'
            description: 'Retorna os detalhes da empresa.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n{\n     \"id\":1,\n     \"nome\":\"Nome da empresa\",\n     \"website\":\"Domínio da empresa\",\n     [...]\n}"
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        delete:
            summary: 'Deletar empresa.'
            description: "Deleta a empresa.\nUsa softDeletes()"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Company deletada!'
                                properties:
                                    message: { type: string, example: 'Company deletada!' }
            tags:
                - Empresas
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        parameters:
            -
                in: path
                name: id
                description: 'ID do usuario proprietario da empresa'
                example: 13
                required: true
                schema:
                    type: integer
    /v1/address:
        post:
            summary: 'Criar Endereço'
            description: 'Cria uma Endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                empresa_id:
                                    type: integer
                                    description: 'ID da empresa'
                                    example: 9
                                user_id:
                                    type: integer
                                    description: 'ID do usuário'
                                    example: 11
                                rua:
                                    type: string
                                    description: 'Nome da rua'
                                    example: tempora
                                numero:
                                    type: integer
                                    description: 'Numero do endereço'
                                    example: 18
                                bairro:
                                    type: string
                                    description: 'Nome do bairro'
                                    example: ratione
                                complemento:
                                    type: string
                                    description: Complemento
                                    example: ut
                                cidade:
                                    type: string
                                    description: 'Nome da cidade'
                                    example: est
                                uf:
                                    type: string
                                    description: 'Sigla do estado <small>Ex: MG</small>'
                                    example: rerum
                                pais:
                                    type: string
                                    description: País
                                    example: velit
                                cep:
                                    type: string
                                    description: 'Cep da rua'
                                    example: sed
                                padrao:
                                    type: boolean
                                    description: 'Se o endereço é o padrão'
                                    example: true
                                ativo:
                                    type: boolean
                                    description: 'Se o endereço está ativo ou não. <small>Default: 1</small>'
                                    example: false
                            required:
                                - api_token
                                - empresa_id
                                - user_id
                                - rua
                                - numero
    '/v1/address/{id}':
        put:
            summary: 'Atualizar Endereço'
            description: 'Atualiza os dados do endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                rua:
                                    type: string
                                    description: 'Nome da rua'
                                    example: laudantium
                                numero:
                                    type: integer
                                    description: 'Numero do endereço'
                                    example: 13
                                bairro:
                                    type: string
                                    description: 'Nome do bairro'
                                    example: eum
                                complemento:
                                    type: string
                                    description: Complemento
                                    example: et
                                cidade:
                                    type: string
                                    description: 'Nome da cidade'
                                    example: voluptatibus
                                uf:
                                    type: string
                                    description: 'Sigla do estado <small>Ex: MG</small>'
                                    example: consequuntur
                                pais:
                                    type: string
                                    description: País
                                    example: molestiae
                                cep:
                                    type: string
                                    description: 'Cep da rua'
                                    example: architecto
                                padrao:
                                    type: boolean
                                    description: 'Se o endereço é o padrão'
                                    example: true
                                ativo:
                                    type: boolean
                                    description: 'Se o endereço está ativo ou não. <small>Default: 1</small> * @param Request $request'
                                    example: true
                            required:
                                - api_token
                                - rua
                                - numero
        get:
            summary: 'Detalhes Endereço'
            description: 'Retorna os detalhes do endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"rua\": \"Nome da rua\",\n     \"numero\": 322,\n     \"bairro\": \"bairro\"\n     [...]\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        delete:
            summary: 'Deletar Endereço'
            description: 'Deleta o endereço'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Endereço deletado!\",\n}"
            tags:
                - Endereço
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        parameters:
            -
                in: path
                name: id
                description: 'ID da endereço'
                example: 17
                required: true
                schema:
                    type: integer
    /v1/users:
        get:
            summary: Read
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                400:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'É necessário informar o domínio!'
                                properties:
                                    message: { type: string, example: 'É necessário informar o domínio!' }
            tags:
                - Endpoints
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        post:
            summary: 'Criar usuário'
            description: 'Cria um usuário.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\":1,\n     \"name\": \"Nome usuario\",\n     \"email\": \"teste@estoqueintegrado.com\"\n     [...]\n}"
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                name:
                                    type: string
                                    description: 'Nome do usuário'
                                    example: sit
                                cpf:
                                    type: string
                                    description: 'Cpf com ou sem formatação Ex: 111.111.111-11'
                                    example: aut
                                email:
                                    type: string
                                    description: 'Email do usuário Ex: teste@estoqueintegrado.com'
                                    example: at
                                password:
                                    type: string
                                    description: 'Senha do usuário'
                                    example: natus
                                celular:
                                    type: string
                                    description: 'Celular do usuário'
                                    example: occaecati
                            required:
                                - api_token
                                - name
                                - cpf
                                - email
    /v1/products:
        post:
            summary: 'Criar produto'
            description: 'Cria um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome produto\",\n     \"preco_venda\": \"\",\n     \"preco_promocional\": \"\"\n     [...]\n}"
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: culpa
                                categoria_id:
                                    type: integer
                                    description: 'ID da categoria cadastrada e ativa do produto'
                                    example: 12
                                nome:
                                    type: string
                                    description: 'Nome do produto'
                                    example: aut
                                imagens:
                                    type: array
                                    description: 'Array de fotos do produto. <i><small>Maximo: 5 fotos</i></small>'
                                    example: vero
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jeans</i></small>'
                                    example: et
                                sku:
                                    type: string
                                    description: 'Sku do produto <br><i><small>Ex: CAMPM20211013</i></small>'
                                    example: et
                                descricao_curta:
                                    type: string
                                    description: 'Descrição simples do produto'
                                    example: deleniti
                                descricao_completa:
                                    type: string
                                    description: 'Descrição detalhada do produto'
                                    example: ducimus
                                preco_custo:
                                    type: number
                                    description: 'Preço de custo do produto <br><i><small>Ex: 80.00</i></small>'
                                    example: 3305.2628
                                preco_venda:
                                    type: number
                                    description: 'Preço de venda do produto <br><i><small>Ex: 120.00</i></small>'
                                    example: 1170.145194
                                preco_promocional:
                                    type: number
                                    description: 'Preço promocional do produto <br><i><small>Ex: 99.90</i></small>'
                                    example: !!float 522597006
                                peso:
                                    type: integer
                                    description: 'Peso do produto em Gramas <br><i><small>Ex: 100</i></small>'
                                    example: 5
                                altura:
                                    type: integer
                                    description: 'Altura do produto em Cm <br><i><small>Ex: 80</i></small>'
                                    example: 8
                                largura:
                                    type: integer
                                    description: 'Largura do produto em Cm <br><i><small>Ex: 50</i></small>'
                                    example: 2
                                diametro:
                                    type: integer
                                    description: 'Diametro do produto'
                                    example: 11
                                comprimento:
                                    type: integer
                                    description: 'Comprimento do produto'
                                    example: 19
                                titulo_seo:
                                    type: string
                                    description: 'Titiulo SEO do produto'
                                    example: sapiente
                                tags_seo:
                                    type: string
                                    description: 'Tags SEO do produto'
                                    example: in
                                descricao_seo:
                                    type: string
                                    description: 'Descrição SEO do produto'
                                    example: ullam
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: true
                                destaque:
                                    type: boolean
                                    description: 'Se o produto é destaque. <i><small>Default 0</i></small>'
                                    example: true
                                variacao_preco_cor:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com a cor. Default 0'
                                    example: false
                                variacao_preco_tamanho:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com o tamanho. Default 0'
                                    example: true
                            required:
                                - api_token
                                - dominio
                                - categoria_id
                                - nome
                                - slug
                                - sku
                                - preco_venda
    '/v1/products/{id}':
        put:
            summary: 'Atualizar produto'
            description: 'Atualiza os dados de um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"Nome produto\",\n     \"preco_venda\": \"\",\n     \"preco_promocional\": \"\"\n     [...]\n}"
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: corrupti
                                categoria_id:
                                    type: integer
                                    description: 'ID da categoria cadastrada e ativa do produto'
                                    example: 1
                                nome:
                                    type: string
                                    description: 'Nome do produto'
                                    example: voluptatem
                                imagens:
                                    type: array
                                    description: 'Array de fotos do produto. <i><small>Maximo: 5 fotos</i></small>'
                                    example: enim
                                slug:
                                    type: string
                                    description: 'Slug do produto <br><i><small>Ex: calca_preta_jeans</i></small>'
                                    example: accusamus
                                sku:
                                    type: string
                                    description: 'Sku do produto <br><i><small>Ex: CAMPM20211013</i></small>'
                                    example: eos
                                descricao_curta:
                                    type: string
                                    description: 'Descrição simples do produto'
                                    example: illo
                                descricao_completa:
                                    type: string
                                    description: 'Descrição detalhada do produto'
                                    example: omnis
                                preco_custo:
                                    type: number
                                    description: 'Preço de custo do produto <br><i><small>Ex: 80.00</i></small>'
                                    example: 1331917.9942
                                preco_venda:
                                    type: number
                                    description: 'Preço de venda do produto <br><i><small>Ex: 120.00</i></small>'
                                    example: 2197.5666512
                                preco_promocional:
                                    type: number
                                    description: 'Preço promocional do produto <br><i><small>Ex: 99.90</i></small>'
                                    example: !!float 385654
                                peso:
                                    type: integer
                                    description: 'Peso do produto em Gramas <br><i><small>Ex: 100</i></small>'
                                    example: 13
                                altura:
                                    type: integer
                                    description: 'Altura do produto em Cm <br><i><small>Ex: 80</i></small>'
                                    example: 11
                                largura:
                                    type: integer
                                    description: 'Largura do produto em Cm <br><i><small>Ex: 50</i></small>'
                                    example: 7
                                diametro:
                                    type: integer
                                    description: 'Diametro do produto'
                                    example: 11
                                comprimento:
                                    type: integer
                                    description: 'Comprimento do produto'
                                    example: 8
                                titulo_seo:
                                    type: string
                                    description: 'Titiulo SEO do produto'
                                    example: repudiandae
                                tags_seo:
                                    type: string
                                    description: 'Tags SEO do produto'
                                    example: accusantium
                                descricao_seo:
                                    type: string
                                    description: 'Descrição SEO do produto'
                                    example: et
                                ativo:
                                    type: boolean
                                    description: 'Status do produto <br><i><small>Ativo = 1, Desativado = 0. Default 1</i></small>'
                                    example: true
                                destaque:
                                    type: boolean
                                    description: 'Se o produto é destaque. <i><small>Default 0</i></small>'
                                    example: false
                                variacao_preco_cor:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com a cor. Default 0'
                                    example: false
                                variacao_preco_tamanho:
                                    type: boolean
                                    description: 'Se o valor do produto varia de acordo com o tamanho. Default 0'
                                    example: false
                            required:
                                - api_token
                                - dominio
                                - categoria_id
                                - nome
                                - slug
                                - sku
                                - preco_venda
        delete:
            summary: 'Deletar Produto'
            description: 'Deleta um produto com softDeletes'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses: {  }
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: dolorem
                            required:
                                - api_token
                                - dominio
        parameters:
            -
                in: path
                name: id
                description: ''
                example: ut
                required: true
                schema:
                    type: string
    '/v1/products/{idOrSlug}':
        get:
            summary: 'Detalhes do produto'
            description: 'Retorna os detalhes de um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                404:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Empresa não encontrada!'
                                properties:
                                    message: { type: string, example: 'Empresa não encontrada!' }
            tags:
                - Produtos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: odit
                            required:
                                - dominio
            security: []
        parameters:
            -
                in: path
                name: idOrSlug
                description: 'Optional parameter. integer|string required ID ou slug do produto'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: ut
    /:
        get:
            summary: 'Index da loja'
            description: "<aside>Retorna a loja de acordo com o domínio ou subdominio. <br>\nRetorna dados, produtos, carrinho (se houver usuario logado) <br>\nEx: minhaempresa.estoqueintegrado.com.br\n</aside>"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\":\"Nome da empresa\",\n     \"email\":\"email@estoqueintegrado.com\",\n     [...]\n     \"products\": [\n         {\n             \"id\": 1,\n             \"nome\":\"Product 1\",\n             \"sku\":\"CAMISAM_2021\",\n             [...]\n         },\n         {\n             \"id\": 2,\n             \"nome\":\"Product 2\",\n             \"sku\":\"BLUSAP321\",\n         }\n     ],\n     \"cart\": [\n         {\n             \"id\": 1,\n             \"produto_id\":12,\n             \"empresa_id\":99,\n             \"quantidade\":2,\n             [...]\n         },\n         [...]\n     ]\n}"
            tags:
                - Site
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da loja registrado no banco de dados. <br>\n<i><small>Ex: minhaloja.estoqueintegrado.com.br | minhaloja.com.br | minhaloja</small>"
                                    example: praesentium
                            required:
                                - dominio
            security: []
    '/v1/product/{idOrSlug}':
        get:
            summary: 'Detalhes do produto'
            description: 'Retorna os detalhes de um produto'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                404:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Empresa não encontrada!'
                                properties:
                                    message: { type: string, example: 'Empresa não encontrada!' }
            tags:
                - Site
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                dominio:
                                    type: string
                                    description: "Dominio da empresa <br>\n<i><small>Ex: minhaempresa | minhaempresa.estoqueintegrado.com.br | minhaempresa.com.br</i></small>"
                                    example: odit
                            required:
                                - dominio
            security: []
        parameters:
            -
                in: path
                name: idOrSlug
                description: 'Optional parameter. integer|string required ID ou slug do produto'
                required: true
                schema:
                    type: string
                examples:
                    omitted:
                        summary: 'When the value is omitted'
                        value: ''
                    present:
                        summary: 'When the value is present'
                        value: aut
    /v1/sizes:
        post:
            summary: 'Criar Tamanho'
            description: 'Cria um tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                empresa_id:
                                    type: integer
                                    description: 'ID da empresa'
                                    example: 18
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: reiciendis
                            required:
                                - api_token
                                - empresa_id
                                - nome
    '/v1/sizes/{id}':
        put:
            summary: 'Atualizar Tamanho'
            description: 'Atualiza os dados do tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                empresa_id:
                                    type: integer
                                    description: 'ID do tamanho'
                                    example: 16
                                nome:
                                    type: string
                                    description: 'Nome do tamanho <small>Ex: 50ml|P|300g</small>'
                                    example: magni
                            required:
                                - api_token
                                - empresa_id
                                - nome
        get:
            summary: 'Detalhes Tamanho'
            description: 'Retorna os detalhes do Tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"nome\": \"P\",\n     \"empresa_id\": 322,\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        delete:
            summary: 'Deletar Tamanho'
            description: 'Deleta um tamanho'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"message\": \"Tamanho deletado!\",\n}"
            tags:
                - Tamanhos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        parameters:
            -
                in: path
                name: id
                description: 'ID do tamanho'
                example: 20
                required: true
                schema:
                    type: integer
    '/v1/users/{id}':
        put:
            summary: 'Atualizar usuario'
            description: 'Atualiza os dados de um usuário'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"name\": \"Ronierison Sena\"\n     \"email\": \"teste@teste.com\"\n     [...]\n}"
                404:
                    description: '404, user not found'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'usuário não encontrado.'
                                properties:
                                    message: { type: string, example: 'usuário não encontrado.' }
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        get:
            summary: 'Detalhes usuario.'
            description: 'Retorna os detalhes do Usuario.'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n{\n     \"id\":1,\n     \"nome\":\"Nome do usuario\",\n     \"email\":\"usuario@estoqueintegrado.com\",\n     [...]"
                404:
                    description: '404, user not found'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'usuário não encontrado.'
                                properties:
                                    message: { type: string, example: 'usuário não encontrado.' }
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                            required:
                                - api_token
        delete:
            summary: 'Deletar usuario'
            description: 'Deletar um usuário'
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200, success'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n     \"id\": 1,\n     \"name\": \"Ronierison Sena\"\n     \"email\": \"teste@teste.com\"\n     [...]\n}"
                404:
                    description: '404, user not found'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'usuário não encontrado.'
                                properties:
                                    message: { type: string, example: 'usuário não encontrado.' }
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                id:
                                    type: integer
                                    description: 'ID do usuário'
                                    example: 11
                            required:
                                - api_token
                                - id
        parameters:
            -
                in: path
                name: id
                description: 'ID do usuário'
                example: 13
                required: true
                schema:
                    type: integer
    /v1/login:
        post:
            summary: Login
            description: "Faz o login do usuario\nSe email e senha coincidirem, gera um md5 da data concatenando com o ID do usuário\ne salva no campo api_token com o tempo definido no arquivo .env TIME_TO_RESET_TOKEN"
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: string
            tags:
                - Usuarios
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                api_token:
                                    type: string
                                    description: 'Authentication key.'
                                    example: b1e04a93c85e3711b2d4972b4d81796c-eccbc87e4b5ce2fe28308fd9f2a7baf3
                                login:
                                    type: string
                                    description: 'Email do usuário'
                                    example: libero
                                password:
                                    type: string
                                    description: 'Senha do usuário'
                                    example: incidunt
                            required:
                                - api_token
                                - login
                                - password
components:
    securitySchemes:
        default: []
security:
    -
        default: []
